$error: rgb(201, 201, 201);
$placeholder: white;


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

::-webkit-input-placeholder{
  color: rgba(255,255,255, .3);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255,255,255, .3);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255,255,255, .3);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(255,255,255, .3);
}

.contact-form{
  margin-bottom: 100px;
  .row{
    margin-bottom: 0;
  }
  p{
    font-size: 12pt;
    font-weight: 300;
    margin-bottom: 0;
  }
}


.wpcf7{
  .wpcf7-submit{
    font-size: 12pt;
    background: none;
    border: 0;
    //font-family: 'Palatino', serif;

    padding: 0;
    margin-left: 15px;
    margin-top: 30px;
    cursor: pointer;
    &:focus{
      outline: 0;
    }
  }

  #form-name,#form-subject,#form-email,#form-tel,#form-message{
    width: 100%;
    max-width: 100%;
  }

  #form-comments{
    resize: vertical;
  }

  .form-input{
    padding: 5px 0 5px 0;
    margin-bottom: 25px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #999;
    font-size: 16pt;
    outline: none;
    transition: .2s all ease-out;
    color: #999;
    font-family: 'Palatino', serif;
    //font-family: 'Helvetica Regular', sans-serif;
    &:focus{
      border-bottom: 1px solid black;
      color: black;
    }
  }

  .wpcf7-validation-errors{
    color: black;
    &:before{
      color: black;
    }
  }

  span .wpcf7-not-valid {
    border-bottom: 1px solid rgb(249, 72, 72);
  }

  span .wpcf7-not-valid-tip {
    display: none;
  }

  div.wpcf7-response-output {
    display: none !important;
    font-family: 'Helvetica Medium', sans-serif;
    font-size: 9pt;
    padding: 10px 0;
    border: 0;
  }

  div.wpcf7-mail-sent-ok{
    color: black;
    &:before{
      color: black;
      padding-right: 7px;
    }
  }
  .ajax-loader{
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWlkWU1pZCIgY2xhc3M9Imxkcy1yb2xsaW5nIj48Y2lyY2xlIGN4PSI1MCIgY3k9IjUwIiBmaWxsPSJub25lIiBuZy1hdHRyLXN0cm9rZT0ie3tjb25maWcuY29sb3J9fSIgbmctYXR0ci1zdHJva2Utd2lkdGg9Int7Y29uZmlnLndpZHRofX0iIG5nLWF0dHItcj0ie3tjb25maWcucmFkaXVzfX0iIG5nLWF0dHItc3Ryb2tlLWRhc2hhcnJheT0ie3tjb25maWcuZGFzaGFycmF5fX0iIHN0cm9rZT0iIzFkMGUwYiIgc3Ryb2tlLXdpZHRoPSIyIiByPSIzNSIgc3Ryb2tlLWRhc2hhcnJheT0iMTY0LjkzMzYxNDMxMzQ2NDE1IDU2Ljk3Nzg3MTQzNzgyMTM4IiB0cmFuc2Zvcm09InJvdGF0ZSgzMDYgNTAgNTApIj48YW5pbWF0ZVRyYW5zZm9ybSBhdHRyaWJ1dGVOYW1lPSJ0cmFuc2Zvcm0iIHR5cGU9InJvdGF0ZSIgY2FsY01vZGU9ImxpbmVhciIgdmFsdWVzPSIwIDUwIDUwOzM2MCA1MCA1MCIga2V5VGltZXM9IjA7MSIgZHVyPSIxcyIgYmVnaW49IjBzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSI+PC9hbmltYXRlVHJhbnNmb3JtPjwvY2lyY2xlPjwvc3ZnPg==) !important;
    width: 77px;
    //height: auto;
    margin: 13px 0 0 0 !important;
    position: absolute;
    right: 0px;
    bottom: 1px;
    transform: translateX(-200%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.no-touchevents{
  .wpcf7-submit{
    &:hover{
      color: #ccc !important;
    }
  }
}
