body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


//GRID
.container{
  max-width: 100%;
  padding: 0 30px;
  @media(min-width: 800px){
    max-width: 800px;
  }
  .row{
    margin-bottom: 30px;
  }
}















#page-background{
  width: 100vw;
  height: calc(100vh - 64px);
  position: fixed !important;
  bottom: -1px;
  left: 0;
  z-index: -99 !important;
  picture{
    width: 100%;
    height: 100%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.home-introduction{
  text-align: center;
  position: fixed;
  top: calc(90%);
  left: 50%;
  transform: translate3d(-50%, -100%, 0);
  color: white;
  line-height: 200%;
  padding: 0 50px !important;
  opacity: .8;
  @media(max-width: $md-screen){
    display: none;
  }
}

.wrap, .content{
  overflow-x: hidden;
}

a{
  text-decoration: none !important;
  border: 0;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
  li{
    transition: .2s ease-out all;
    a{
      transition: .2s ease-out all;
      color: #333;
    }
  }
}

.inline-list-container{
  ul{
    margin-bottom: 100px;
    padding: 20px 0;
    li{
      display: inline-block;
      user-select: none !important;
      a{
        margin-right: 0px;

        user-select: none !important;
        cursor: pointer;
        &:hover{
          color: inherit;
          color: #ccc;
        }
      }
    }
  }
  .current-menu-item{
    border-bottom: 1px solid #333;
    pointer-events: none;
    &:hover{
      border-bottom-color: #ccc;
    }
  }
}


.wrap{
  margin-top: 66px;
}


.fouc{
  opacity: 0;
}

.lazyload,.lazyloading{
  opacity: 0;
}
