body{
  &:not(#tinymce){
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

//GRID
.container{
  max-width: 100%;
  padding: 0 30px;
  @media(min-width: 800px){
    max-width: 800px;
  }
  .row{
    margin-bottom: 30px;
  }
}

.wrap, .content{
  overflow-x: hidden;
}

a{
  text-decoration: none !important;
  border: 0;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.inline-list-container{
  ul{
    margin-bottom: 100px;
    padding: 20px 0;
    li{
      display: inline-block;
      user-select: none !important;
      a{
        margin-right: 0px;

        user-select: none !important;
        cursor: pointer;
        &:hover{
          color: inherit;
          color: #ccc;
        }
      }
    }
  }
  .current-menu-item{
    border-bottom: 1px solid #333;
    pointer-events: none;
    &:hover{
      border-bottom-color: #ccc;
    }
  }
}


.wrap{
  margin-top: 66px;
}


.fouc{
  opacity: 0;
}

.lazyload,.lazyloading{
  opacity: 0;
}
