@font-face {
    font-family: 'Palatino';
    src: local('Palatino'), local('Palatino-Roman'),
        url('../../assets/fonts/Palatino-Roman.woff2') format('woff2'),
        url('../../assets/fonts/Palatino-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Palatino', serif;
  line-height: 130%;
}


a{
  &:not(.post-link,.brand,.wp-menu-item,.bread-crumb,.nav-item){
    color: black;
    font-weight: 400;
    transition: .2s ease-in all;
    &:hover{
      color: #ccc;
    }
  }
}

p{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 12pt;
  //line-height: 100%;
}

.home{
  .nav-primary{
    ul{
      font-size: 0;
      li{
        a{
          font-family: 'Palatino', serif;
          font-size: 20pt;
        }
      }
    }
  }
}

.main-navigation-sub-menu{
  a{
    font-size: 20pt;
  }
}



.bold{ font-weight: 400; }
.white{ color: white; }
