


.post-list-container{
  padding: 0 30px;
  .post-list{
    font-size: 0;
    .gutter{
      width: 4%;
    }
    .grid-sizer, .post-item{
      width: 30.33%;
      @media (max-width: $xl-screen){
        width: 48%;
      }
      @media(max-width: $md-screen){
        width: 100%;
      }
    }
    .post-item{
      color: #666;
      float: left;
      margin-bottom: 30px;
      //width: 22%;
      h1{
        font-family: 'Palatino', serif;
        font-size: 20pt;

      }
      .details{

      }
      .tags{
        p{
          display: inline-block;
        }
      }
      .description{

      }
      &:after{
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: black;
      }
    }
  }
}
