.post-list-container{
  padding: 0 30px;
  .post-list{
    margin-top: 200px;
    font-size: 0;
    .gutter{
      width: 4%;
    }
    .grid-sizer, .post-item{
      width: 30.33%;
      @media (max-width: $xl-screen){
        width: 48%;
      }
      @media(max-width: $md-screen){
        width: 100%;
      }
    }
    .post-item{
      color: black;
      float: left;
      padding: 40px 0;
      border-bottom: 1px solid black;
      h1{
        font-family: 'Palatino', serif;
        font-size: 20pt;
      }
      p{
        margin-bottom: 0;
        font-size: 12pt;
      }
      .details{
        margin-bottom: 0;
        font-size: 12pt;
      }
      .tags{
        margin-bottom: 30px;
        p{
          display: inline-block;
          font-size: 12pt;
          margin-right: 4px;
        }
      }
      .description{

      }
      &:nth-child(3){
        border-top: 1px solid black;
      }
      &:nth-child(4){
        border-top: 1px solid black;
      }
      &:nth-child(5){
        border-top: 1px solid black;
      }
      @media(max-width: $xl-screen){
        &:nth-child(5){
          border-top: 0;
        }
      }
      @media(max-width: $md-screen){
        &:nth-child(4){
          border-top: 0;
        }
      }
    }
  }
}
