.post-video{
  position: relative;
  height: auto !important;
  video{
    display: block;
    position: relative;
    width: 100%;
    height: auto !important;
  }
  .caption{
    padding: 65px 0 130px 0 ;
    p{
      margin-top: 30px;
    }
  }
  &:last-child.centered.no-caption{
    margin-bottom: 130px !important;
  }
}



.centered-video{
  position: relative;
}

.centered.first{
  margin-top: 130px !important;
}

.centered.no-caption{
  margin-bottom: 30px !important;
}


.full-width + .centered{
  margin-top: 130px;
}

.full-width + .img-center{
  margin-top: 130px;
}

.full-width{
  .jarallax{
    height: calc(100vh - 66px);
  }
}

.first.full-width{
  .jarallax{
    height: calc(100vh - 66px);
  }
}



.full-width + .post-meta, .centered + .post-meta{
  margin-top: 100px;
}
