//aux template

.page-template-template-aux{
  .wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
}

.content-stuck{
  .content{
    display: block;
  }
}

.content-center{
  .content{

  }
}
