@import "module-image";
@import "module-video";
@import "module-text";

.post-footer{
  width: 100%;
  height: 500px;
  background: #1f1f1f;
}

.post-layout{
  .post-section{
    &:last-child.img-center.no-caption{
      margin-bottom: 130px;
    }
  }
}

.main{
  .post-nav{
    width: 100vw;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    .nav-item{
      position: absolute;
      font-family: 'Palatino', serif;
      color: black;
      font-size: 20pt;
      transition: .17s ease-in transform;

    }
    .previous{
      transform: translateX(calc(-100% + 50px));
      &:hover{
        transform: translateX(calc(-100% + 80px));
      }
    }
    .next{
      transform: translateX(calc(100% - 50px));
      right: 0;
      &:hover{
        transform: translateX(calc(100% - 80px));
      }

    }
    .current{
      display: none;
    }
    @media(max-width: $md-screen){
      display: none;
    }
  }
}
